<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pt-Connect</title>
</head>
<body>
    <h1>Workout Index</h1>
    <table>
        <thead>
            <th>Type</th>
            <th>Problem Area</th>
            <th>Routine</th>
            <th>Rep</th>
        </thead>
        <tbody>
            <% workouts.forEach(workout => { %>
                <tr>
                    <td><%= workout.type %></td>
                    <td><%= workout.problemArea %></td>
                    <td><%= workout.routine %></td>
                    <td><%= workout.rep

                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>