<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href='/workouts'>All Workouts</a>
  <a href='/workouts/new'>Add Workouts</a>
  <h1> Welcome to PT-Connect </h1>

</body>

</html>